DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=Africa/Kinshasa

DATABASE_URL=postgres://celebobo:celebobo@localhost:5432/celebobo
DATABASE_POOLER=false
DATABASE_CONN_MAX_AGE=0

REDIS_CACHE_URL=redis://localhost:6379/0
REDIS_BROKER_URL=redis://localhost:6379/1

CORS_ALLOWED_ORIGINS=http://localhost:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000
SESSION_COOKIE_DOMAIN=
CSRF_COOKIE_DOMAIN=

FRONTEND_URL=http://localhost:3000
ACCOUNT_EMAIL_VERIFICATION=mandatory
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_CALLBACK_URL=http://localhost:3000
JWT_AUTH_COOKIE_DOMAIN=
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=14
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=Celebobo <no-reply@celebobo.com>

CATALOG_SEARCH_ENGINE=database
CATALOG_SEARCH_INDEX=null
ORDERS_FREE_SHIPPING_THRESHOLD=199.00
ORDERS_FLAT_SHIPPING_FEE=2.98
MEILISEARCH_URL=http://localhost:7700
MEILISEARCH_API_KEY=
MEILISEARCH_INDEX=products

LOG_LEVEL=INFO
LOG_JSON=false

CORE_EVENTS_DISPATCHER=celery
CORE_METRICS_BACKEND=log
CORE_PROBLEM_BASE_URI=https://api.celebobo.com/problems
