__pycache__/
*.py[cod]
.venv/
.env
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
/staticfiles/
/media/
*.sqlite3
dump.rdb
openapi.yml
/var/
deploy-real-prod/.env.prod
public_key.pem
private_key.pem
